
<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>注册页面</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Simple Signin Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />

<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/style.css"
	type="text/css" media="all" />
<!-- Style-CSS -->
<link rel="stylesheet" href="css/font-awesome.css">
<!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Play:400,700"
	rel="stylesheet">
<link
	href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
	rel="stylesheet">
<!-- //web-fonts -->
<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>



</head>

<body>
	<!--header-->
	<div class="header-w3l">
		<h1>
			<font color="#125ACD">源客推广</font>
		</h1>
	</div>
	<!--//header-->
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<h2>新用户注册</h2>
			<div id="registerid" style="opacity: 0" ></div>
            <div class="Huiform">
			<form th:action="registerUserSure" method="post">
				<label>账号（手机号）：</label>
				<div id="accountId" class="pom-agile">
					<span class="fa fa-mobile" aria-hidden="true"></span> <input
						placeholder="uAccount" name="uAccount" class="account" type="text" id="account"
                        th:onchange ="'javascript:ajaxRegister()'"  required>
				</div>
				<label>用户名：</label>
				<div class="pom-agile">
					<span class="fa fa-user-o" aria-hidden="true"></span> <input
						placeholder="Username" name="uName" class="username"
						 type="text" required >

				</div>

				<label>密码：</label>
				<div class="pom-agile" style="position: relative;">
					<span class="fa fa-key" aria-hidden="true"></span> <input
						placeholder="Password" name="Password" class="password"
						 type="password" required>
				</div>
				<label>验证密码：</label>
				<div class="pom-agile" style="position: relative;">
					<span class="fa fa-key" aria-hidden="true"></span> <input
						placeholder="rePassword" name="rePassword" class="repassword"
						 type="password" required>
				</div>
				<div class="sub-w3l" align="right">
					<a href="login">已有账号，去登陆</a>
				</div>
				<div class="right-w3l">
					<input id="submit" type="submit" value="立即注册">
				</div>
			</form>
		</div>
        </div>
	</div>
	<!--//main-->
	<!--footer-->
	<div class="footer">
		<p>
			本平台适用于网络营销与宣传 | 详情请咨询 <a href="http://www.qilinxx.com/">麒麟信息</a>
		</p>
	</div>
	<!--//footer-->
</body>
<script type="text/javascript">
	function ajaxRegister(){
	    var account = $("#account").val();
		$.ajax({
			url : "ajaxRegister",
			data :{"account" : account},
            success: function(str) {
                if ("true" != str) {
                    //帐号已经存在
					$("#accountId").append("<span> 帐号已经存在。请使用其它帐号！ </span>");
                    alert("帐号已经存在。请使用其它帐号！");
                    //定焦
					fys="error";
                    $("#account").focus();
                }
                else {
                    //账号未存在
                    $("#accountId span").remove();
				}
            }
		});
	}

    $("#submit").click(function() {
        //trigger 事件执行完后，浏览器会为submit按钮获得焦点
        $("form .required:input").trigger("blur");
        var numError = $("input+span").length;
        if(numError) {
            alert("请正确填写表单！");
            return false;
        }
        alert("成功提交表单");

    });

</script>
</html>