
<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>注册页面</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Simple Signin Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />

<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/style.css"
	type="text/css" media="all" />
<!-- Style-CSS -->
<link rel="stylesheet" href="css/font-awesome.css">
<!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Play:400,700"
	rel="stylesheet">
<link
	href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
	rel="stylesheet">
<!-- //web-fonts -->
<script type="text/javascript"
	src="js/jquery-1.11.0.js"></script>
<style>
	.onError {
		background: #FFE0E9 url(images/reg3.gif) no-repeat 0 center;
		padding-left: 25px;
	}

	.onSuccess {
		background: #E9FBEB url(images/reg4.gif) no-repeat 0 center;
		padding-left: 25px;
		color: #D60026;
	}
</style>


</head>

<body>
	<!--header-->
	<div class="header-w3l">
		<h1>
			<font color="#125ACD">源客推广</font>
		</h1>
	</div>
	<!--//header-->
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<h2>新用户注册</h2>
			<div id="registerid" style="opacity: 0" ></div>
			<form th:action="registerSure" method="post">
				<label>账号（手机号）：</label>
				<div class="pom-agile">
					<span class="fa fa-mobile" aria-hidden="true"></span> <input
						placeholder="Account" name="account" class="account" type="text" id="account"
                        onchange="javascript:ajaxRegister()" href="javascprit:;" required>
				</div>
				<label>用户名：</label>
				<div class="pom-agile">
					<span class="fa fa-user-o" aria-hidden="true"></span> <input
						placeholder="Username" name="username" class="username"
						 type="text" required>
				</div>
				<label>密码：</label>
				<div class="pom-agile" style="position: relative;">
					<span class="fa fa-key" aria-hidden="true"></span> <input
						placeholder="Password" name="password" class="password"
						 type="password" required>
				</div>
				<label>验证密码：</label>
				<div class="pom-agile" style="position: relative;">
					<span class="fa fa-key" aria-hidden="true"></span> <input
						placeholder="Reassword" name="repassword" class="repassword"
						 type="password" required>
				</div>
				<div class="sub-w3l" align="right">
					<a href="login">已有账号，去登陆</a>
				</div>
				<div class="right-w3l">
					<input id="submit" type="submit" value="立即注册">
				</div>
			</form>
		</div>
	</div>
	<!--//main-->
	<!--footer-->
	<div class="footer">
		<p>
			本平台适用于网络营销与宣传 | 详情请咨询 <a href="http://www.qilinxx.com/">麒麟信息</a>
		</p>
	</div>
	<!--//footer-->
</body>
<script type="text/javascript">
	function ajaxRegister(){
	    alert("ajax账号验证");
	    var account = $("#account").val();
		$.ajax({
			url : "ajaxRegister",
			data :{"account" : account},
            async: false,//非异步
            success: function(msg) {
                if ("true" != msg) {
                    //帐号已经存在
                    alert("帐号已经存在。请使用其它帐号！");
                    //定焦
                    $("#account").focus();
                }
            }
		});
	}

    console.log($("#registerid").text());
    if($("#registerid").text()!=""){
        alert($("#registerid").text());
    }
</script>
</html>